*, ::after,::before {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
.products{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  background-color: black;
  padding: 10px;
}
img{
  width: 200px;
  height: 150px;
}
.products__container{
  padding: 10px;
  background-color: antiquewhite;
  text-align: center;
}