*, ::after,::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  background-color: black;

}
.products{
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px;
}
.products__container>img{
  width: 200px;
  height: 150px;
  object-fit: cover;

}
.products__container{
  padding: 10px;
  background-color: antiquewhite;
  text-align: center;
}
@media screen and (max-width:600px) {
  .products{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    padding: 10px;
  }
}

